html {
  font-family: Overpass, sans-serif;
}

section {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

h1, h2, p {
  color: #fff;
}

#icon-1, #icon-2, #icon-3 {
  fill: #fff;
}

.content {
  text-align: center;
}

li {
  border-bottom: solid 2px rgba(255, 255, 255, .5);
}

.icon-1 {
  display: inline-block;
  width: 50%;
}

.btn-ghost {
  padding: .5rem .75rem;
  color: #fff;
  border-color: rgba(255, 255, 255, .7);
}

.btn:hover {
  background-color: #fff;
  color: #ff5e3a;
  border-color: rgba(255, 255, 255, 1);
}

@media only screen and (min-width: 60em) {

  li {
    border-right: solid 2px rgba(255, 255, 255, .5);
    border-bottom: 0;
  }

  ul {
    padding: 160px;
  }

  .section {
    max-height: 960px;
  }

}
